<div class="row m-0">
	<div class="col-3 p-0">
		<span class="title-1">Desain</span>
	</div>
	<div class="col-9 p-0 text-right">
		<a class="btn btn-outline-pa" href="add_design.html" class="text-color-pa"><i class="material-icons">&#xE148;</i> <span class="custom-center">Desain</span></a>
	</div>
	<div class="status d-flex col-lg-12 p-0 mt-3">
		<div class="work-stat mr-auto">
			<span class="bg-orange p-5px color-white">Total Pekerjaan</span>
			<span class="bg-gray p-5px">Saat ini : 7</span>
			<span class="bg-gray p-5px">Hari ini : 10</span>
			<span class="bg-gray p-5px">Bulan ini : 2325</span>
		</div>
		<div class="time-updt">
			<span class="p-5px">Latest Update 30-01-2018 9:35</span>
		</div>
	</div>
</div>
<div class="table-responsive mt-3">   
	<table class="table text-center table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Id Pelanggan</th>
				<th><span class="hidden-md-down">Nama</span> Pelanggan</th>
				<th>Divisi</th>
				<th><span class="hidden-md-down">Nama</span> Bahan</th>
				<th>Ukuran</th>
				<th>Jumlah</th>
				<th>Status</th>
				<th>Aksi</th>
				<th>Waktu</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>43215327</td>
				<td>Ovin Mantep</td>
				<td>HR</td>
				<td>Stickerglossy</td>
				<td>50 x 50 cm</td>
				<td>50 Lembar</td>
				<td>Menunggu Verifikasi Receptionist</td>
				<td><i class="material-icons b-0">&#xE8F4;</i><i class="material-icons b-0">&#xE254;</i><i class="material-icons b-0">&#xE5C9;</i><i class="material-icons b-0">&#xE5CA;</i></td>
				<td>0m 0d</td>
			</tr>
			<tr>
				<th scope="row">1</th>
				<td>43215327</td>
				<td>Ovin Mantep</td>
				<td>HR</td>
				<td>Stickerglossy</td>
				<td>50 x 50 cm</td>
				<td>50 Lembar</td>
				<td>Menunggu Verifikasi Designer</td>
				<td><i class="material-icons b-0">&#xE8F4;</i><i class="material-icons b-0">&#xE254;</i><i class="material-icons b-0">&#xE5C9;</i><i class="material-icons b-0">&#xE5CA;</i></td>
				<td>0m 0d</td>
			</tr>
		</tbody>
	</table>
</div>
