
<div class="row m-0">
	<div class="col-3 p-0">
		<span class="title-1">Data Pesanan</span>
	</div>
	<div class="col-9 p-0 text-right">
		<a class="btn btn-outline-pa" routerLink="/reception/addorder" routerLinkActive="active" class="text-color-pa"><i class="material-icons">&#xE148;</i> <span class="custom-center">Pesanan</span></a><div class="hidden-sm-up mb-1"></div>
		<a class="btn btn-outline-pa" routerLink="/reception/addcomplaint" routerLinkActive="active" class="text-color-pa"><i class="material-icons">&#xE148;</i> <span class="custom-center">Keluhan</span></a>
	</div>
	<div class="status d-flex col-lg-12 p-0 mt-3">
		<div class="work-stat mr-auto">
			<span class="bg-orange p-5px color-white hidden-md-down">Total Pekerjaan</span>
			<span class="bg-gray p-5px mb-1">Saat ini : 5</span>
			<span class="bg-gray p-5px mb-1">Hari ini : 10</span>
			<span class="bg-gray p-5px mb-1">Bulan ini : 2325</span>
		</div>
		<div class="time-updt">
			<span class="p-5px">Latest Update 30-01-2018 9:35</span>
		</div>
	</div>
</div>
<div class="table-responsive mt-3">   
	<table class="table text-center table-striped">
		<thead>
			<tr>
				<th>
					<input type="checkbox" id="cb-all">
					<label for="cb-all" class="pr-3 cb-pa"></label>
				</th>
				<th>Id Order</th>
				<th><span class="hidden-md-down">Nama</span> Pelanggan</th>
				<th class="hidden-sm-down"><span class="hidden-md-down">Nama</span> Bahan</th>
				<th class="hidden-sm-down">Ukuran</th>
				<th class="hidden-sm-down">Jumlah</th>
				<th>Status</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					<input type="checkbox" id="cb-1">
					<label for="cb-1" class="pr-3 cb-pa"></label>
				</th>
				<td><a routerLink="/reception/addinvoice" routerLinkActive="active">43215327</a></td>
				<td><a routerLink="/reception/addinvoice" routerLinkActive="active">Uqbah Mantep</a></td>
				<td class="hidden-sm-down"><a routerLink="/reception/addinvoice" routerLinkActive="active">Stickerglossy</a></td>
				<td class="hidden-sm-down"><a routerLink="/reception/addinvoice" routerLinkActive="active">50 x 50 cm</a></td>
				<td class="hidden-sm-down"><a routerLink="/reception/addinvoice" routerLinkActive="active">50 Lembar</a></td>
				<td><a routerLink="/reception/addinvoice" routerLinkActive="active">Menunggu Konfirmasi Reception</a></td>
				<td><a routerLink="/reception/addinvoice" routerLinkActive="active"><i class="material-icons b-0">&#xE8F4;</i></a><i class="material-icons b-0">&#xE254;</i><i class="material-icons b-0">&#xE5C9;</i></td>
			</tr>

			<tr>
				<th scope="row">
					<input type="checkbox" id="cb-1">
					<label for="cb-1" class="pr-3 cb-pa"></label>
				</th>
				<td><a href="add_invoice.html">43215327</a></td>
				<td><a href="add_invoice.html">Uqbah Mantep</a></td>
				<td class="hidden-sm-down"><a href="add_invoice.html">Stickerglossy</a></td>
				<td class="hidden-sm-down"><a href="add_invoice.html">50 x 50 cm</a></td>
				<td class="hidden-sm-down"><a href="add_invoice.html">50 Lembar</a></td>
				<td><a href="add_invoice.html">Menunggu Konfirmasi Designer</a></td>
				<td><a href="add_invoice.html"><i class="material-icons b-0">&#xE8F4;</i></a><i class="material-icons b-0">&#xE254;</i><i class="material-icons b-0">&#xE5C9;</i></td>
			</tr>
		</tbody>
	</table>
</div>
