<div class="row m-0">
	<div class="col-3 p-0">
		<span class="title-1">Data Pesanan</span>
	</div>
	<div class="col-9 p-0 text-right">
		<a class="btn btn-outline-pa" href="add_order.html" class="text-color-pa"><i class="material-icons">&#xE148;</i> <span class="custom-center">Pesanan</span></a>
	</div>
	<div class="status d-flex col-lg-12 p-0 mt-3">
		<div class="work-stat mr-auto">
			<span class="bg-orange p-5px color-white hidden-md-down">Total Pekerjaan</span>
			<span class="bg-gray p-5px">Saat ini : 5</span>
			<span class="bg-gray p-5px">Hari ini : 10</span>
			<span class="bg-gray p-5px">Bulan ini : 2325</span>
		</div>
		<div class="time-updt">
			<span class="p-5px">Latest Update 30-01-2018 9:35</span>
		</div>
	</div>
</div>
<div class="table-responsive mt-3">   
	<table class="table text-center table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Id Order</th>
				<th><span class="hidden-md-down">Nama</span> Pelanggan</th>
				<th><span class="hidden-md-down">Nama</span> Bahan</th>
				<th>Ukuran</th>
				<th>Jumlah</th>
				<th style="width: 200px;">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"><a href="" data-toggle="modal" data-target=".modal-detail">1</a></th>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">43215327</a></td>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">Uqbah Mantep</a></td>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">Stickerglossy</a></td>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">50 x 50 cm</a></td>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">50 Lembar</a></td>
				<td><a href="" data-toggle="modal" data-target=".modal-detail">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="40"aria-valuemin="0" aria-valuemax="100" style="width:40%">
							40%
						</div>
					</div></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade modal-detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title m-auto" id="exampleModalLongTitle">Informasi Pekerjaan</h5>
				<button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row m-0">
					<div class="col-6 p-0">
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">ID Order</span></div>
							<div class="col-8 p-0"><span>: 2348692348</span></div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">Pelanggan</span></div>
							<div class="col-8 p-0"><span>: Uqbah Mantep</span></div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">Divisi</span></div>
							<div class="col-8 p-0"><span>: Low Res</span></div>
						</div>
					</div>
					<div class="col-6 p-0">
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">Bahan</span></div>
							<div class="col-8 p-0"><span>: Stickerglossy</span></div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">Ukuran</span></div>
							<div class="col-8 p-0"><span>: 70 x70 cm</span></div>
						</div>
						<div class="row m-0">
							<div class="col-4 p-0"><span class="text-bold">Jumlah</span></div>
							<div class="col-8 p-0"><span>: 120 Lembar</span></div>
						</div>
					</div>
				</div>
				<div class="table-responsive mt-3">   
					<table class="table text-center table-striped">
						<thead>
							<tr>
								<th>Proses</th>
								<th>Nama Pekerja</th>
								<th>Durasi</th>
								<th>Waktu</th>
								<th>Catatan</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Upload Design</td>
								<td>Uqbah Paten</td>
								<td>12min : 13sec</td>
								<td>30/01/2018</td>
								<td></td>
							</tr>
							<tr>
								<td>Upload Design</td>
								<td>Uqbah Paten</td>
								<td>12min : 13sec</td>
								<td>30/01/2018</td>
								<td></td>
							</tr>
							<tr>
								<td>Upload Design</td>
								<td>Uqbah Paten</td>
								<td>12min : 13sec</td>
								<td>30/01/2018</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="progress lg-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="40"
					aria-valuemin="0" aria-valuemax="100" style="width:40%">
					40%
				</div>
			</div>
		</div>
	</div>
</div>
