<div class="mb-4">
  <span class="title-1">RIP (Low Res)</span>
</div>
<div class="table-responsive mt-3">   
  <table class="table text-center table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Id Order</th>
        <th><span class="hidden-md-down">Nama</span> Pelanggan</th>
        <th><span class="hidden-md-down">Nama</span> Bahan</th>
        <th>Ukuran</th>
        <th>Jumlah</th>
        <th>Selesai</th>
        <th>Sisa</th>
        <th>Satus</th>
        <th class="text-left">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="lowres_rip_detail.html">1</a></th>
        <td><a href="lowres_rip_detail.html">43215327</a></td>
        <td><a href="lowres_rip_detail.html">Ovin Mantep</a></td>
        <td><a href="lowres_rip_detail.html">Stickerglossy</a></td>
        <td><a href="lowres_rip_detail.html">50 x 50<span class="hidden-md-down">cm</span></a></td>
        <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html">0 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html"><span>Telah Diterima</span></a></td>
        <td class="text-left"><a (click)="gotodetail()"><i class="material-icons b-0">&#xE8F4;</i></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="lowres_rip_detail.html">1</a></th>
        <td><a href="lowres_rip_detail.html">43215327</a></td>
        <td><a href="lowres_rip_detail.html">Ovin Mantep</a></td>
        <td><a href="lowres_rip_detail.html">Stickerglossy</a></td>
        <td><a href="lowres_rip_detail.html">50 x 50<span class="hidden-md-down">cm</span></a></td>
        <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html">0 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
        <td><a href="lowres_rip_detail.html"><span>Menunggu Verifikasi</span></a></td>
        <td class="text-left"><a href="lowres_rip_detail.html"><i class="material-icons b-0">&#xE8F4;</i></a>
          <a href=""><i class="material-icons b-0">&#xE5CA;</i></a></td>
        </tr>
        <tr>
          <th scope="row"><a href="lowres_rip_detail.html">1</a></th>
          <td><a href="lowres_rip_detail.html">43215327</a></td>
          <td><a href="lowres_rip_detail.html">Ovin Mantep</a></td>
          <td><a href="lowres_rip_detail.html">Stickerglossy</a></td>
          <td><a href="lowres_rip_detail.html">50 x 50<span class="hidden-md-down">cm</span></a></td>
          <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
          <td><a href="lowres_rip_detail.html">50 <span class="hidden-md-down">Lembar</span></a></td>
          <td><a href="lowres_rip_detail.html">0 <span class="hidden-md-down">Lembar</span></a></td>
          <td><a href="lowres_rip_detail.html"><span>Menunggu Verifikasi Operator</span></a></td>
          <td class="text-left"><a href="lowres_rip_detail.html"><i class="material-icons b-0">&#xE8F4;</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>


