
<div class="mb-4">
	<span class="title-1">Tambah Keluhan</span>
</div>
<div class="row m-0">
	<div class="col-md-2 col-4 pl-0"><label class="text-bold">Nama Pelanggan</label></div>
	<div class="col-md-10 col-8 p-0 mb-3">
		<select class="selectpicker form-control col-md-4 form-pa" data-live-search="true">
			<option>Nama Pelanggan</option>
			<option>Batman</option>
			<option>Superman</option>
			<option>Spiderman</option>
			<option>Iron Man</option>
		</select>
	</div>
</div>
<div class="row m-0">
	<div class="col-md-2 col-4 pl-0"><label class="text-bold">Nomor Invoice</label></div>
	<div class="col-md-10 col-8 p-0 mb-3">
		<select class="selectpicker form-control col-md-4 form-pa" data-live-search="true">
			<option>Nomor Invoice</option>
			<option>23532532525</option>
			<option>23455542231</option>
		</select>
	</div>
</div>
<hr class="mr-0 ml-0 mb-2 mt-0">
<div class="row m-0">
	<div class="col-md-5 p-0">
		<div class="row m-0">
			<div class="col-md-5 col-4 pl-0"><label class="text-bold">Mesin</label></div>
			<div class="col-md-7 col-8 p-0 mb-3 m-custom-1">GTO (Max 34x50cm)</div>
		</div>
		<div class="row m-0">
			<div class="col-md-5 col-4 pl-0"><label class="text-bold">Ukuran</label></div>
			<div class="col-md-7 col-8 p-0 mb-3 m-custom-1">50 x 50 cm</div>
		</div>
		<div class="row m-0">
			<div class="col-md-5 col-4 pl-0"><label class="text-bold">Jumlah Pesanan</label></div>
			<div class="col-md-7 col-8 p-0 mb-3 m-custom-1">50 Lembar</div>
		</div>
	</div>
	<div class="col-md-7 p-0">
		<div class="row m-0">
			<div class="col-md-4 col-4 pl-0"><label class="text-bold">Jenis Kertas</label></div>
			<div class="col-md-7 col-8 p-0 mb-3">ALBARTOS</div>
		</div>
		<div class="row m-0">
			<div class="col-md-4 col-4 pl-0"><label class="text-bold">Asal Kertas</label></div>
			<div class="col-md-7 col-8 p-0 mb-3">CMS</div>
		</div>
		<div class="row m-0">
			<div class="col-md-4 col-4 pl-0"><label class="text-bold">Timbal Balik</label></div>
			<div class="col-md-7 col-8 p-0 mb-3">2 Muka Horizontal</div>
		</div>
	</div>
</div>
<div class="row m-0">
	<div class="col-md-2 col-4 pl-0"><label class="text-bold">Design</label></div>
	<div class="col-md-10 col-8 p-0 mb-3"><img src="assets/image/desain.jpg" style="max-height: 12rem"></div>
</div>

<div class="row m-0">
	<div class="col-md-2 col-4 pl-0"><label class="text-bold">Finishing</label></div>
	<div class="col-md-10 col-8 p-0 mb-3">Jilid</div>
</div>
<div class="row m-0">
	<div class="col-md-2 col-4 pl-0"><label class="text-bold">Catatan</label></div>
	<div class="col-md-10 col-8 p-0 mb-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </div>
	</div>
	<div class="row m-0">
		<div class="col-md-2 col-4 pl-0"><label class="text-bold">Keluhan</label></div>
		<div class="col-md-10 col-8 p-0 mb-3">
			<textarea class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="text-right mt-3">
		<a href="" class="btn btn-pa">Simpan</a>
	</div>
