	<div class="status-pa bg-white box-shadow o-hide">
		<div class="row wrapper-status">
			<div class="mar-tb-30 col-xl-3 col-sm-6 bor-right">
				<a href="#">
					<div class="d-flex align-items-center p-2 text-center">
						<div class="da-icon-pa col-3 p-0 color-orange">
							<i class="material-icons">person_add</i>
						</div>
						<div class="da-title-pa col-5 p-0">
							<span>New<br>Customer</span>
						</div>
						<div class="da-sum-pa col-4 p-0">
							<span><h3 class="m-0">100</h3></span>
						</div>
					</div>
				</a>
			</div>
			<div class="mar-tb-30 col-xl-3 col-sm-6 bor-right">
				<a href="#">
					<div class="d-flex align-items-center p-2 text-center">
						<div class="da-icon-pa col-3 p-0 color-orange">
							<i class="material-icons">play_for_work</i>
						</div>
						<div class="da-title-pa col-5 p-0">
							<span>Work<br>Orders</span>
						</div>
						<div class="da-sum-pa col-4 p-0">
							<span><h3 class="m-0">1320</h3></span>
						</div>
					</div>
				</a>
			</div>
			<div class="mar-tb-30 col-xl-3 col-sm-6 bor-right">
				<a href="#">
					<div class="d-flex align-items-center p-2 text-center">
						<div class="da-icon-pa col-3 p-0  color-orange">
							<i class="material-icons">description</i>
						</div>
						<div class="da-title-pa col-5 p-0">
							<span>New<br>Invoice</span>
						</div>
						<div class="da-sum-pa col-4 p-0">
							<span><h3 class="m-0">50</h3></span>
						</div>
					</div>
				</a>
			</div>
			<div class="mar-tb-30 col-xl-3 col-sm-6">
				<a href="#">
					<div class="d-flex align-items-center p-2 text-center">
						<div class="da-icon-pa col-3 p-0  color-orange">
							<i class="material-icons">comment</i>
						</div>
						<div class="da-title-pa col-5 p-0">
							<span>Complain</span>
						</div>
						<div class="da-sum-pa col-4 p-0">
							<span><h3 class="m-0">40</h3></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row m-0">
		<div class="status2-pa col-lg-2 p-0">
			<div class="mb-3 mr-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE8E8;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">50</h3></span><br>
						<span>Varifikasi</span>
					</div>
				</div>
			</div>
			<div class="mb-3 mr-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE2BC;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">30</h3></span><br>
						<span>Files</span>
					</div>
				</div>
			</div>
			<div class="mb-3 mr-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE06F;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">20</h3></span><br>
						<span>Note</span>
					</div>
				</div>
			</div>
		</div>
		
		<!-- chart -->
		<div class="chart-pa col-lg-8 bg-white p-2 box-shadow">
			<h4>Total Pekerjaan Tahun 2018</h4>
			<chart style="height:50vh;" [type]="type" [data]="data" [options]="options"></chart>
		</div>
		


		<div class="status2-pa col-lg-2 p-0">
			<div class="mb-3 ml-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE87C;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">20</h3></span><br>
						<span>User</span>
					</div>
				</div>
			</div>
			<div class="mb-3 ml-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE87B;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">20</h3></span><br>
						<span>Material</span>
					</div>
				</div>
			</div>
			<div class="mb-3 ml-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE8A6;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">20</h3></span><br>
						<span>Customer</span>
					</div>
				</div>
			</div>
			<div class="mb-3 ml-2 p-2 bg-white box-shadow">
				<div class="d-flex align-items-center text-center pt-1 pb-1">
					<div class="da-icon-pa color-orange mr-3">
						<i class="material-icons">&#xE8D3;</i>
					</div>
					<div class="da-title-pa m-auto">
						<span><h3 class="m-0">20</h3></span><br>
						<span>Role</span>
					</div>
				</div>
			</div>
		</div>
		<div class="status3-pa col-12">
			<div class="row wrapper-stat3 align-items-center bg-white box-shadow p-2">
				<div class="stat3-title col-3">
					<span><strong>Ovin Mantep</strong></span><br>
					<span>Low Res 50LB</span>
				</div>
				<div class="stat3-date col-3">
					<span>Hari ini 31/01/2018</span>
				</div>
				<div class="stat3-time col-2">
					<span>16.33</span>
				</div>
				<div class="stat3-progress col-4">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="40"
						aria-valuemin="0" aria-valuemax="100" style="width:40%">
						40%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
