
<div class="row m-0">
	<div class="col-3 p-0">
		<span class="title-1">Users Management</span>
	</div>
	<div class="col-9 p-0 text-right">
		<a class="btn btn-outline-pa" routerLink="/user/adduser" routerLinkActive="active" class="text-color-pa"><i class="material-icons">&#xE148;</i> <span class="custom-center">User</span></a>
	</div>
</div>
<div class="table-responsive mt-3">   
	<table class="table text-center table-striped">
		<thead>
			<tr>
				<th class="pr-1"><span class="hidden-md-down">Nama</span> User</th>
				<th class="pr-1">Otoritas</th>
				<th class="pr-1">Devisi</th>
				<th class="pr-1"><span class="hidden-sm-down">Hak</span> Akses</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="lowres_rip_detail.html">Ovin Kemprang</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Operator</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Low Res</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">-</a></td>
				<td class="text-left"><a href="lowres_rip_detail.html"><i class="material-icons b-0">&#xE8F4;</i></a></td>
			</tr>
			<tr>
				<td class="pr-1"><a href="lowres_rip_detail.html">Ovin Kemprang</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Operator</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Low Res</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">-</a></td>
				<td class="text-left"><a href="lowres_rip_detail.html"><i class="material-icons b-0">&#xE8F4;</i></a></td>
			</tr>
			<tr>
				<td class="pr-1"><a href="lowres_rip_detail.html">Ovin Kemprang</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Operator</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">Low Res</a></td>
				<td class="pr-1"><a href="lowres_rip_detail.html">-</a></td>
				<td class="text-left"><a href="lowres_rip_detail.html"><i class="material-icons b-0">&#xE8F4;</i></a></td>
			</tr>
		</tbody>
	</table>
</div>
